.NavbarA {
    color: #70bb70;
  }
  
  .navbar::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for webkit-based browsers */
  }

  .navbar {
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #bb9770;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e1eee1;
    overflow-x: hidden; /* Enable horizontal scroll for smaller screens */
  }
  
  .navbar .links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust the space between links */
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar a {
    text-decoration: none;
    color: #bb9770;
    padding: 10px;
    font-weight: bolder;
  }
  
  .navbar a:hover {
    color: white;
  }
  
  .navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffdab9;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  
  .navbar a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  @media (max-width: 800px) {
    .navbar .links {
      display: none;
      visibility: hidden;
    }
  }
  
  /* Styles for the buttons to match the navbar */
.btn {
  /* Match the font size and padding */
  font-size: 16px;
  padding: 8px 20px;
  /* Add border-radius */
  border-radius: 5px;
  /* Match the colors */
  color: #fff;
}

/* Button colors */
.btn-info {
  background-color: #17a2b8; /* Match the navbar color */
  /* Add any other styles specific to the info button */
  
}

.btn-success {
  background-color: #28a745; /* Match the navbar color */
  /* Add any other styles specific to the success button */
}

/* Style for the input within the navbar */
.nav input {
  padding: 8px 12px; /* Match padding with navbar elements */
  border-radius: 5px; /* Add a border-radius */
  border: 1px solid #ccc; /* Add a border */
  font-size: 16px; /* Match the font size */
  /* Other styles you might want to adjust */
}

.welcome-message {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.username {
  color: #0066ff; /* Change the color to your preference */
}

.circular-image {
  width: 300px; /* Adjust the width and height as needed */
  height: 300px;
  object-fit: cover; /* Maintains the image's aspect ratio */
}

.description-heading {
  font-weight: bold;
  /* Add any other styles you want for the description heading */
}

/* Cart container */
.cart-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  background-color: #f9f9f9;
}

/* Cart items */
.cart-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

/* Cart item */
.cart-item {
  display: flex;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
}

/* Product image */
.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

/* Item details */
.item-details {
  flex-grow: 1;
}

/* Empty cart message */
.empty-cart-message {
  text-align: center;
  font-style: italic;
  color: #999;
}